.peage-footer {
  text-align: center;
  line-height: 1.71;
  background: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--secondary-text-color-light);
}

.footer-address {
  margin-top: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address__link {
  font-weight: normal;
  font-style: normal;
  color: inherit;
  transition: color var(--transition-color);
  line-height: 1.71;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address__link_color {
  color: var(--footer-contacts-color);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .general-footer__container {
    display: flex;
    justify-content: center;
    gap: 165px;
    margin-bottom: 60px;
  }

  .footer__title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .general-footer {
    display: flex;
    align-items: baseline;
  }

  .general-footer__container {
    display: flex;
    // justify-content: center;
    gap: 70px;
     align-items: baseline;
    margin-bottom: 0;
  }

  .footer-address {
    text-align: left;
  }

  .footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }

  // .contacts-footer {
  //   margin-right: 70px;
  // }

  .footer__title {
    margin-top: 0;
    text-align: left;
  }
}
