.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-align: center;
}
.logo__part-web {
  color: var(--accent-color);
}

.logo__part-studio {
  color: var(--secondary-text-color-light);
}

.logo-header {
  margin-right: 93px;
}
