:root {
    --accent-color: #2196f3;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-text-color-dark: #212121;
    --secondary-text-color-dark: #757575;
    --secondary-text-color-light: #ffffff;
    --background-basic: #ffffff;
    --background-hero: #2f303a;
    --background-color-hero: #c4c4c4;
    --background-team: #f5f4fa;
    --background-btn: #f5f4fa;
    --background-footer: #2f303a;
    --background-modal-btn: #188ce8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --border-color-header: #ececec;
    --boorder-color-card: #eeeeee;
    --border-form-modal: #303030;
    --icon-header-color: #757575;
    --icon-hover-color: #ffffff;
    --icon-color: #afb1b8;
    --icon-color-btn: #000000;
    --accent-color-icon: #2196f3;
    --transition-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-bgc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}